/**
 *    Color Variables
 */


// Brand Colors
$primary: #BC5353;

// Background Colors
$dark   : #15151B;
$white  : #DEDEDE;


/**
 *    Text Colors
 */

// Light
$txt-onLight-0        : #646464;
$txt-onLight-1        : lighten($txt-onLight-0, 20%);
$txt-onLight-2        : lighten($txt-onLight-0, 40%);

// Dark
$txt-onDark-0         : #C4C4C4;
$txt-onDark-1         : darken($txt-onDark-0, 20%);
$txt-onDark-2         : darken($txt-onDark-0, 40%);

// Red
$txt-onPrim-0         : lighten($primary, 40%);
$txt-onPrim-1         : lighten($primary, 20%);
$txt-onPrim-2         : lighten($primary, 10%);

$txt-onlight-default : #646464;
$txt-ondark-default  : #A9A7B3;
$txt-ondark-title    : #C4C4C4;

// #A9A7B3

// Neumorphism Effects
$shade        : 4px 4px 12px #0A0A0D, -4px -4px 12px #21212E, inset 0px 0px 0px #0A0A0D, inset 0px 0px 0px #21212E;
$shade-inv    : 0px 0px 0px #0A0A0D, 0px 0px 0px #21212E, inset 4px 4px 12px #0A0A0D, inset -4px -4px 12px #21212E;

$bright       : 4px 4px 12px #b3b3b3, -4px -4px 12px #ffffff, inset 0px 0px 0px #b3b3b3, inset 0px 0px 0px #ffffff;
$bright-inv   : 0px 0px 0px #b3b3b3, 0px 0px 0px #ffffff, inset 4px 4px 12px #b3b3b3, inset -4px -4px 12px #ffffff;

$cardinal     : 4px 4px 12px #A24747, -4px -4px 12px #C46363, inset 0px 0px 0px #A24747, inset 0px 0px 0px #C46363;
$cardinal-inv : 0px 0px 0px #A24747, 0px 0px 0px #C46363, inset 4px 4px 12px #A24747, inset -4px -4px 12px #C46363;